@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form action="#"  enctype="multipart/form-data">
        <input type="file" id="file" />
    </form>

    <div id="myProgress">
        <div id="myBar"></div>
    </div>

</div>
